{% from 'form_helper.html' import displayField %}
{% extends "prelogin-layout.html" %}

{% block title %} Register {% endblock title %}

{% block content %}
        <h2>Get started!</h2>
        <p>First time here? Register to start using Rchat</p>

        <form action="{{ url_for('index') }}", method="POST">  

            {{ displayField(form.username, 'Username', autocomplete="off", autofocus=true) }}
            {{ displayField(form.password, 'Password') }}
            {{ displayField(form.confirm_pswd, 'Retype Password') }}

            <!-- Passes in button from wtforms_fields.py -->
            <div>
                {{ form.submit_button }}
            </div>
            <!-- Flask wtf forms has a great way to prevent cserf attacks-->
            {{ form.csrf_token }}
        </form>

{% endblock %}