<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>

        <!-- Bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">


        <!-- Bootstrap core CSS -->
	    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" />

        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template 
        <link href="static/css/one-page-wonder.min.css" rel="stylesheet"> -->
	    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/one-page-wonder.min.css') }}" />
    </head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">Learn More</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
	<!--- Jumbotron Image Slider Start -->
	<div id="slides" class="carousel slide" data-ride="carousel">
	<ul class="carousel-indicators">
		<li data-target="#slides" data-slide-to="0" class="active"></li>
		<li data-target="#slides" data-slide-to="1"></li>
		<li data-target="#slides" data-slide-to="2"></li>
	</ul>
		<div class="carousel-inner">

			<div class="carousel-item active" style="height: 600px; background-image: url(../static/img/predictor.png); background-size: cover">  
			
			<div class="carousel-caption">
				<h1 class="display-2">Investment Check</h1>
				<h3> Keeping You Informed </h3>
				    <a class="btn btn-primary btn-lg" href="{{ url_for('signup') }}">Get Started</a>
			</div>
		</div>

		<div class="carousel-item" style="height: 600px; background-image: url(../static/img/brain.png); background-size: cover; background-position: center">
				<div class="carousel-caption">
					<h1 class="display-2">Investment Check</h1>
					<h3> Keeping You Informed </h3>
				        <a class="btn btn-primary btn-lg" href="{{ url_for('signup') }}">Get Started</a>
				</div>			
		</div>

			<div class="carousel-item" style="height: 600px; background-image: url(../static/img/brain2.png); background-size: cover; background-position: center">
				<div class="carousel-caption">
					<h1 class="display-2">Investment Check</h1>
					<h3> Keeping You Informed </h3>
				        <a class="btn btn-primary btn-lg" href="{{ url_for('signup') }}">Get Started</a>
				</div>
			</div>
		</div>
	</div>
	<!--- Jumbotron Image Slider End -->


        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

                
<!-- We will set the class form our custom css file we had created earlier. And we want to see the first item in the list. -->
                Category: {{ messages[0][0] }}
                {{ messages[0][1] }}

            {% endif %}

        {% endwith %}

        {% block content %} 
<section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="../static/img/01.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Our Technology</h2>
            <p>We've utilized and trained machine learning algorithms on previous startup data from the last 100 years. Our algorithms predict your return of investment based on your investment amount into any company regardless of the industry. </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="" src="../static/img/02.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="">Our Venture Capitalist</h2>
            <p>Investment Check has venture capitalist, stock brokers, angel investors, and even average people using the platform daily to help improve their business decisions.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="../static/img/03.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Our Mission</h2>
            <p> Investment Check's mission is use artificial intelligence and machine learning to help the average investor make better financial decisions. </p>
          </div>
        </div>
      </div>
    </div>
  </section>



        {% endblock %}


  <!-- Footer -->
  <footer class="py-5 bg-black">
    <div class="container">
      <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>

